{% extends 'base.html' %}

{% block title %}Trivia! - Let's Play!{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Hello, {{ username | title }}! Let's Play Trivia 🎉</h1>
    <p>Answer the questions below:</p>

    <form method="POST" onsubmit="showLoading()">
        {{ form.hidden_tag() }}

        {% for field in [form.question_1, form.question_2, form.question_3] %}
            <div class="mb-4">
                <h5 class="mb-2">{{ field.label }}</h5>
                <div class="d-flex flex-column flex-md-row gap-3">
                    {% for subfield in field %}
                        <div class="form-check">
                            {{ subfield(class="form-check-input") }}
                            <label class="form-check-label" for="{{ subfield.id }}">{{ subfield.label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="text-center">
            <button id="submit-btn" type="submit" class="btn btn-primary btn-lg"><i class="bi bi-pencil-fill"></i> Submit Answers</button>
            <button id="loading-btn" class="btn btn-primary btn-lg" type="button" disabled style="display:none;">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <i class="bi bi-calculator-fill"></i> Checking answers...
            </button>
        </div>
    </form>

</div>
<script>
function showLoading() {
  document.getElementById("submit-btn").style.display = "none";
  document.getElementById("loading-btn").style.display = "inline-block";
}
</script>
{% endblock %}
